In [1]:
import pandas as pd
from geopy.distance import geodesic
from math import *

In [2]:
road = pd.read_csv('data/road.csv')
road

,id,coordinates,highway,length,lanes,tunnel,bridge,maxspeed,width,alley,roundabout
0,0,"[[116.3894407, 39.9062721], [116.3894463, 39.9...",4,28.981,0,0,0,0,0,0,0
1,1,"[[116.3894407, 39.9062721], [116.386428, 39.90...",4,325.040,5,0,0,0,0,0,0
2,2,"[[116.3930703, 39.906394], [116.3894407, 39.90...",4,309.891,5,0,0,0,0,0,0
3,3,"[[116.3970962, 39.9065222], [116.3930703, 39.9...",4,343.693,5,0,0,0,0,0,0
4,4,"[[116.3970962, 39.9065222], [116.3970144, 39.9...",11,34.704,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
38022,38022,"[[116.4025587, 39.8338872], [116.4018688, 39.8...",6,328.697,0,0,0,0,0,0,0
38023,38023,"[[116.406357, 39.8311645], [116.4062061, 39.83...",8,12.886,0,0,0,0,0,0,0
38024,38024,"[[116.406357, 39.8311645], [116.4062083, 39.83...",6,304.376,0,0,0,0,0,0,0
38025,38025,"[[116.4059676, 39.8338401], [116.406125, 39.83...",6,304.376,0,0,0,0,0,0,0
38026,38026,"[[116.3121472, 39.9935096], [116.3121727, 39.9...",6,134.104,0,0,0,0,0,0,0

In [3]:
df = pd.DataFrame(columns=['old_id', 'cod1', 'cod2', 'cod1_lon', 'cod1_lat','cod2_lon','cod2_lat'])
def func(row):
    global df
    List = [tuple(sublist) for sublist in eval(row['coordinates'])]
    if len(List) > 2:
        for i in range(len(List)-1):
            new_row = pd.DataFrame({'old_id':row['id'], 'cod1':List[i],'cod2':List[i+1] ,'cod1_lon':[List[i][0]], 'cod1_lat':[List[i][1]], 'cod2_lon':[List[i+1][0]], 'cod2_lat':[List[i+1][1]]})
            df = pd.concat([df,new_row])
    else:
        new_row = pd.DataFrame({'old_id':row['id'],'cod1':List[0],'cod2':List[1] ,'cod1_lon':[List[0][0]], 'cod1_lat':[List[0][1]], 'cod2_lon':[List[1][0]], 'cod2_lat':[List[1][1]]})
        df = pd.concat([df,new_row])
road.apply(func, axis=1)
df

ValueError: All arrays must be of the same length

In [ ]:
df.to_csv('data/road1.csv', index=False) # list of edges

In [ ]:
road1 = pd.read_csv('data/road1.csv')
road1

In [ ]:
"""
    计算两个经纬度坐标之间的距离
    :param coord1, coord2: 第一个坐标，格式为 (经度1, 纬度1), (经度2, 纬度2)
    :return: 距离（单位：米）
"""
def calculate_distance(coord1, coord2):
    coord_1 = (coord1[1], coord1[0])
    coord_2 = (coord2[1], coord2[0])
    distance = geodesic(coord_1, coord_2).meters
    return distance

road1['dis']=0
def new_dis(row):
    row['dis'] = calculate_distance((row['cod1_lon'], row['cod1_lat']), (row['cod2_lon'], row['cod2_lat']))
    return row
road1 = road1.apply(new_dis, axis=1)

In [ ]:
road1

In [ ]:
road1.to_csv('data/road1.csv', index=False)

In [ ]:
df2 = pd.DataFrame(columns=['coordinate'])
for i in range(len(road1)):
    row = road1.iloc[i,:]
    df2 = pd.concat([df2, pd.DataFrame({'coordinate':[row['coordinate1']]})])
    df2 = pd.concat([df2, pd.DataFrame({'coordinate':[row['coordinate2']]})])
df2

In [ ]:
df2 = df2.drop_duplicates()
df2

In [ ]:
df2.to_csv('data/road_node.csv',index=False)  # list of nodes