In [2]:
import pandas as pd
import findPath
from datetime import datetime, timedelta
import predict

eta_tasks = pd.read_csv('eta_result.csv')
G = findPath.create_graph()

In [3]:
FD = 0.06

for i in range(0, eta_tasks.shape[0] - 1, 2):
# for i in range(0, 10 - 1, 2):
    # 需要的信息：'holidays', 'time_period', 'cpath', 'cost', 'x1', 'y1', 'x2', 'y2', 'speed'
    if pd.isnull(eta_tasks.iloc[i+1, 2]) == False:
        continue
    print(i)
    start = eta_tasks.iloc[i]
    end = eta_tasks.iloc[i+1]
    speed = start['speeds'] * 3.6
    holidays = start['holidays']
    time = start['time']
    parsed_time = datetime.strptime(time, '%Y-%m-%dT%H:%M:%SZ')
    time_period = parsed_time.hour
    start_X, start_Y = eval(start['coordinates'])
    end_X, end_Y = eval(end['coordinates'])
    start_id = findPath.find_nearest_node(start_X, start_Y, FD)
    end_id = findPath.find_nearest_node(end_X, end_Y, FD)
    if start_id == -1 or end_id == -1:
        continue
    path_list = findPath.get_shortest_path(G, start_id, end_id)
    delta_minutes = 0.0
    for j in range(0, len(path_list)-1):
        x1, y1 = findPath.get_coordinates(path_list[j])
        x2, y2 = findPath.get_coordinates(path_list[j+1])
        cpath, cost = findPath.get_edge_info(path_list[j],path_list[j+1])
        model_input = pd.DataFrame({
            'holidays': [holidays], 
            'time_period': [time_period], 
            'cpath': [cpath], 
            'cost': [cost], 
            'x1': [x1],
            'y1': [y1], 
            'x2': [x2], 
            'y2': [y2], 
            'speed': [speed],
            'road_cost_time': [1.14], 
        })
        delta_minutes += predict.predict(model_input)
    if type(delta_minutes) == type(0.1):
        result_time = parsed_time + timedelta(minutes=delta_minutes)
    else:
        result_time = parsed_time + timedelta(minutes=delta_minutes.item())
    result_time = result_time.replace(microsecond=0).strftime('%Y-%m-%dT%H:%M:%SZ')
    eta_tasks.loc[i+1, 'time'] = result_time
eta_tasks.to_csv('eta_result.csv', index=False)
eta_tasks

4
20
34
68
112
116
128
140
156
176
190
220
242
268
270
290
332
334
336
338
340
372
376
552
554
572
578
582
584
614
628
644
666
668
682
684
726
736
746
802
804
814
836
840
846
848
870
876
900
902
926
960
1032
1046
1064
1066
1080
1082
1114
1120
1122
1142
1148
1170
1174
1176
1178
1186
1208
1216
1254
1314
1316
1318
1320
1340
1342
1372
1376
1378
1394
1438
1492
1496
1558
1590
1598
1636
1658
1668
1670
1676
1690
1712
1714
1724
1726
1736
1788
1790
1798
1800
1808
1810
1824
1828
1838
1854
1872
1874
1876
1878
1896
1916
1926
1934
1948
1950
1958
1966
2000
2010
2030
2050
2052
2070
2094
2112
2152
2166
2182
2228
2234
2264
2296
2298
2320
2336
2366
2374
2376
2428
2452
2454
2456
2502
2532
2534
2560
2566
2616
2636
2656
2710
2716
2720
2722
2740
2742
2750
2754
2764
2786
2800
2822
2870
2880
2882
2896
2898
2928
2934
2962
3004
3014
3020
3078
3080
3082
3092
3094
3106
3132
3142
3144
3148
3170
3172
3214
3236
3238
3266
3336
3344
3368
3430
3432
3434
3444
3446
3454
3468
3522
3528
3540
3546
3556
3600
3608
3668
3688
3694
3750
3758
3798
3800
3832
3858
3860
3872
3900
3926
3946
3954
3970
3994
4006
4018
4050
4052
4082
4102
4148
4162
4188
4190
4192
4196
4198
4232
4248
4292
4294
4296
4372
4424
4446
4452
4460
4476
4484
4522
4528
4548
4562
4570
4572
4578
4592
4610
4624
4632
4638
4676
4686
4730
4786
4818
4820
4830
4838
4860
4862
4864
4880
4892
4918
4930
4932
4940
4984
5006
5014
5018
5058
5090
5104
5108
5110
5140
5142
5152
5162
5184
5194
5206
5226
5246
5254
5310
5336
5354
5382
5390
5414
5436
5490
5516
5520
5522
5550
5566
5612
5632
5634
5690
5702
5722
5738
5740
5742
5748
5778
5794
5828
5900
5912
5924
5928
5956
5980
5982
5986
6020
6036
6058
6060
6076
6126
6132
6148
6158
6160
6166
6168
6182
6194
6196
6198
6226
6244
6258
6300
6306
6308
6312
6316
6326
6372
6390
6414
6430
6436
6438
6440
6442
6454
6456
6464
6482
6486
6564
6588
6590
6606
6618
6626
6630
6636
6640
6664
6670
6692
6716
6756
6766
6818
6826
6846
6872
6892
6940
6962
6982
6986
6988
6992
7000
7008
7010
7040
7056
7082
7098
7108
7122
7124
7156
7178
7204
7210
7254
7264
7268
7284
7288
7292
7310
7320
7360
7390
7406
7408
7428
7446
7472
7482
7486
7608
7628
7640
7648
7658
7676
7698
7716
7742
7754
7768
7778
7780
7786
7810
7818
7828
7876
7966
7970
8034
8054
8088
8094
8098
8138
8150
8178
8226
8232
8234
8236
8242
8246
8256
8260
8280
8302
8308
8310
8312
8348
8350
8364
8388
8428
8446
8540
8544
8588
8592
8616
8620
8622
8624
8646
8648
8666
8670
8692
8694
8708
8710
8712
8726
8766

,id,traj_id,time,entity_id,coordinates,current_dis,speeds,holidays
0,126,9,2013-10-08T22:30:00Z,254,"[116.490013,39.892902]",0.000000,37.2925,0
1,133,9,2013-10-08T22:54:55Z,254,"[116.511292,39.904655]",3.079017,24.6500,0
2,147,11,2013-10-08T23:00:00Z,254,"[116.450546,39.943771]",0.000000,36.0575,0
3,164,11,2013-10-09T00:25:24Z,254,"[116.440742,40.018944]",12.543428,49.9000,0
4,171,13,2013-10-08T17:15:00Z,255,"[116.335503,39.763187]",0.000000,26.6250,0
...,...,...,...,...,...,...,...,...
8795,518214,21991,2013-10-30T21:03:47Z,4954,"[116.371025,39.84676]",7.175550,17.9425,0
8796,518315,21997,2013-10-30T22:00:00Z,4954,"[116.324913,39.938717]",0.000000,39.0125,0
8797,518348,21997,2013-10-30T22:43:32Z,4954,"[116.2817,39.945621]",11.553799,25.0725,0
8798,518408,21999,2013-10-30T00:00:00Z,4955,"[116.301109,39.985023]",0.000000,55.1025,0
8799,518423,21999,2013-10-30T00:29:40Z,4955,"[116.270699,39.956749]",4.662003,18.1775,0

In [5]:
eta_tasks[eta_tasks['time'].isnull()]

Empty DataFrame
Columns: [id, traj_id, time, entity_id, coordinates, current_dis, speeds, holidays]
Index: []