In [1]:
import osmnx as ox
import networkx as nx
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely.geometry import Point, LineString

In [2]:
mr = pd.read_csv('mr.csv',sep=';')
mr

,id,cpath,mgeom
0,0,"61104,32310,61105,12998,61042,61045,61042,6105...","LINESTRING(116.3157412 39.9985109,116.3157412 ..."
1,1,"16743,29169,28997,16351,68381,28855,28856,7935...","LINESTRING(116.356892968 39.948840715,116.3567..."
2,2,"81509,16498,16499,81507,41305,16311,16312,4131...","LINESTRING(116.3323191 39.9708802,116.3323191 ..."
3,3,"42157,42158,9825,31187,31188,9813,9814,47525,4...","LINESTRING(116.343329168 39.9297482669,116.343..."
4,4,NaN,LINESTRING()
...,...,...,...
17595,21993,"27,42122,42123,42124,42125,42126,42140,42141,4...","LINESTRING(116.389262213 39.898914487,116.3887..."
17596,21994,"26633,9174,44227,3060,44247,44248,17763,17764,...","LINESTRING(116.3525978 39.8869456,116.3525553 ..."
17597,21995,"11164,32356,8153,8157,8158,17454,40753,50394,5...","LINESTRING(116.295633617 39.9313084809,116.295..."
17598,21996,"16191,16192,16193,16194,11145,11146,11147,1593...","LINESTRING(116.310943206 39.9485873023,116.310..."
17599,21998,NaN,LINESTRING()

In [6]:
mr_valid = mr[~mr['cpath'].isnull()]
mr_valid

,id,cpath,mgeom
0,0,"61104,32310,61105,12998,61042,61045,61042,6105...","LINESTRING(116.3157412 39.9985109,116.3157412 ..."
1,1,"16743,29169,28997,16351,68381,28855,28856,7935...","LINESTRING(116.356892968 39.948840715,116.3567..."
2,2,"81509,16498,16499,81507,41305,16311,16312,4131...","LINESTRING(116.3323191 39.9708802,116.3323191 ..."
3,3,"42157,42158,9825,31187,31188,9813,9814,47525,4...","LINESTRING(116.343329168 39.9297482669,116.343..."
5,5,"26934,26168,26169,18725,26689,26960,26688,1872...","LINESTRING(116.3523321 39.8716452,116.3533837 ..."
...,...,...,...
17594,21992,"33725,5449,5450,5451,5219,30678,30679,30680,30...","LINESTRING(116.377739626 39.8694918247,116.379..."
17595,21993,"27,42122,42123,42124,42125,42126,42140,42141,4...","LINESTRING(116.389262213 39.898914487,116.3887..."
17596,21994,"26633,9174,44227,3060,44247,44248,17763,17764,...","LINESTRING(116.3525978 39.8869456,116.3525553 ..."
17597,21995,"11164,32356,8153,8157,8158,17454,40753,50394,5...","LINESTRING(116.295633617 39.9313084809,116.295..."
17598,21996,"16191,16192,16193,16194,11145,11146,11147,1593...","LINESTRING(116.310943206 39.9485873023,116.310..."

In [7]:
road = gpd.read_file('../road.csv')
road

,id,old_id,WKT,source,target,cost,x1,y1,x2,y2,geometry
0,0,0,"LINESTRING (116.3894407 39.9062721, 116.389446...",0,5742,28.93911749977911,116.3894407,39.9062721,116.3894463,39.9060115,"LINESTRING (116.38944 39.90627, 116.38945 39.9..."
1,1,1,"LINESTRING (116.3894407 39.9062721, 116.386428...",0,1,257.87336107240327,116.3894407,39.9062721,116.386428,39.9061687,"LINESTRING (116.38944 39.90627, 116.38643 39.9..."
2,2,1,"LINESTRING (116.386428 39.9061687, 116.3856338...",1,38994,67.97674335500204,116.386428,39.9061687,116.3856338,39.9061421,"LINESTRING (116.38643 39.90617, 116.38563 39.9..."
3,3,2,"LINESTRING (116.3930703 39.906394, 116.3894407...",2,0,310.66360462307574,116.3930703,39.906394,116.3894407,39.9062721,"LINESTRING (116.39307 39.90639, 116.38944 39.9..."
4,4,3,"LINESTRING (116.3970962 39.9065222, 116.393070...",3,2,344.5499349831967,116.3970962,39.9065222,116.3930703,39.906394,"LINESTRING (116.39710 39.90652, 116.39307 39.9..."
...,...,...,...,...,...,...,...,...,...,...,...
85390,85390,38025,"LINESTRING (116.4062083 39.8313723, 116.406357...",49687,49686,26.350831105766865,116.4062083,39.8313723,116.406357,39.8311645,"LINESTRING (116.40621 39.83137, 116.40636 39.8..."
85391,85391,38026,"LINESTRING (116.3121472 39.9935096, 116.312172...",49693,42179,39.35541100862528,116.3121472,39.9935096,116.3121727,39.9931557,"LINESTRING (116.31215 39.99351, 116.31217 39.9..."
85392,85392,38026,"LINESTRING (116.3121727 39.9931557, 116.312119...",42179,42178,8.128968151358936,116.3121727,39.9931557,116.3121191,39.993095200000006,"LINESTRING (116.31217 39.99316, 116.31212 39.9..."
85393,85393,38026,"LINESTRING (116.3121191 39.9930952, 116.312155...",42178,42177,49.5513024747446,116.3121191,39.993095200000006,116.3121553,39.9926498,"LINESTRING (116.31212 39.99310, 116.31216 39.9..."
85394,85394,38026,"LINESTRING (116.3121553 39.9926498, 116.312170...",42177,42176,36.88629947948712,116.3121553,39.9926498,116.3121705,39.9923178,"LINESTRING (116.31216 39.99265, 116.31217 39.9..."

In [21]:
road['id']=road['id'].astype(int)
road['old_id'] = road['old_id'].astype(int)

In [72]:
def func(row):
    tmp = []
    tmp = row['cpath'].split(',')
    tmp = [eval(item) for item in tmp]
    tmp = list(road.loc[road['id'].isin(tmp),'old_id'].unique())
    return tmp

mr_valid['old_id'] = mr_valid.apply(func, axis=1)
mr_valid

C:\Users\Kafka\AppData\Local\Temp\ipykernel_13932\3744156322.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mr_valid['old_id'] = mr_valid.apply(func, axis=1)

,id,cpath,mgeom,old_id
0,0,"61104,32310,61105,12998,61042,61045,61042,6105...","LINESTRING(116.3157412 39.9985109,116.3157412 ...","[1232, 1237, 1246, 2032, 2033, 2035, 2411, 244..."
1,1,"16743,29169,28997,16351,68381,28855,28856,7935...","LINESTRING(116.356892968 39.948840715,116.3567...","[1560, 6458, 6463, 6686, 12775, 12837, 12918, ..."
2,2,"81509,16498,16499,81507,41305,16311,16312,4131...","LINESTRING(116.3323191 39.9708802,116.3323191 ...","[269, 503, 896, 915, 944, 958, 1004, 1220, 139..."
3,3,"42157,42158,9825,31187,31188,9813,9814,47525,4...","LINESTRING(116.343329168 39.9297482669,116.343...","[817, 819, 835, 836, 1196, 1199, 3554, 3573, 3..."
5,5,"26934,26168,26169,18725,26689,26960,26688,1872...","LINESTRING(116.3523321 39.8716452,116.3533837 ...","[2043, 2050, 2118, 2120, 2134, 2473, 3088, 309..."
...,...,...,...,...
17594,21992,"33725,5449,5450,5451,5219,30678,30679,30680,30...","LINESTRING(116.377739626 39.8694918247,116.379...","[1137, 1158, 1165, 2043, 2118, 2134, 2711, 271..."
17595,21993,"27,42122,42123,42124,42125,42126,42140,42141,4...","LINESTRING(116.389262213 39.898914487,116.3887...","[8, 15, 732, 734, 827, 1120, 2615, 3123, 3452,..."
17596,21994,"26633,9174,44227,3060,44247,44248,17763,17764,...","LINESTRING(116.3525978 39.8869456,116.3525553 ...","[62, 1202, 1212, 1393, 1407, 1410, 1427, 2350,..."
17597,21995,"11164,32356,8153,8157,8158,17454,40753,50394,5...","LINESTRING(116.295633617 39.9313084809,116.295...","[258, 1378, 1381, 3029, 3030, 3050, 3053, 3059..."
17598,21996,"16191,16192,16193,16194,11145,11146,11147,1593...","LINESTRING(116.310943206 39.9485873023,116.310...","[4222, 4225, 4226, 4230, 6056, 6059, 6284, 628..."

In [67]:
mr_valid.to_csv('mr_valid.csv')